.btn-primary{
    border: 1px solid $secondary-color;
    color:white !important;
    background-color:$secondary-color!important;
    border-radius: 48px;
    padding-right: 30px;
    padding-left: 30px;
    &:hover{
        border: 1px solid $secondary-color;
        color:white !important;
        background-color:$secondary-color!important;
        border-radius: 48px;
        padding-right: 30px;
        padding-left: 30px;
    }
    &:active{
        border: 1px solid $secondary-color !important;
        color:white !important;
        background-color:$secondary-color!important;
        border-radius: 48px;
        padding-right: 30px;
        padding-left: 30px;
    }

}


.btn-secondary{
    color:white !important;
    border: 1px solid $third-color;
    background-color:$third-color !important;
    border-radius: 48px;
    padding-right: 30px;
    padding-left: 30px;

}
