.btn-primary{
    border: 1px solid $secondary-color;
    color:white !important;
    background-color:$secondary-color!important;
    border-radius: 48px;
    padding-right: 30px;
    padding-left: 30px;
    &:hover{
        background-color:transparent !important;
        color: $secondary-color !important;
        border: 1px solid $secondary-color;
    }
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: $secondary-color !important;
    border: 1px solid $secondary-color;
    background-color:transparent !important;
}


.btn-secondary{
    color:white !important;
    border: 1px solid $third-color;
    background-color:$third-color !important;
    border-radius: 48px;
    padding-right: 30px;
    padding-left: 30px;

}
