.card-primary{
    border: 1px solid #eff1f3 !important;
cursor: pointer !important;
box-shadow: 0 12px 32px 4px rgba(38,41,74,.16) !important;
border-radius: 24px !important;
padding-top:30px;
padding-left:30px;
padding-right:30px;
padding-bottom:30px;
}