.card-primary {
    border: 1px solid #eff1f3 !important;
    cursor: pointer !important;
    box-shadow: 0 12px 32px 4px rgba(38, 41, 74, .16) !important;
    border-radius: 24px !important;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.card-bg-primary {

    background: #4C7F9B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    width: 90vw;
    margin-top: 30px;
    padding-top: 25px;

    p {
        color: white !important;

    }

    h1 {
        color: white;
        position: relative;
        width: fit-content;
        margin: auto;

        &::after {
            transform: translateX(-50%);
            left: 50%;
            bottom: -20px;
            position: absolute;
            width: 120%;
            content: "";
            height: 2px;
            background-color: white;
        }
    }

    .label {
        color: white;
    }

    .btn-link {
        color: $third-color !important;
    }
}

.card-shadow {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 12px 32px 4px rgba(38, 41, 74, .16) !important;
    height: 100%;

    h2 {
        text-align: center;
    }

}

.card-news {
    border: 1px solid #2D0000;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius:20px;
    box-shadow: 0 12px 32px 4px rgba(38, 41, 74, .16) !important;


}