.title-table-enword {
    background-color: $primary-color !important;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.table-book {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    position: relative;
    padding-bottom: 18px;
    margin-bottom:20px;
    
.right-line{
    border-right: 1px solid #B9B9B9;
}
    .head {
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding: 8px;
    }
    .word{
        text-align: center;
        padding: 7px;
        cursor: pointer;
    }
    .lineWord{
        border-bottom: 1px solid #B9B9B9;

        &:hover{
            background-color: #dc6b6bc8;
        }
    }

}

.tab-modal{
    .head {
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding: 8px;
    }
        .word{
            text-align: center;
            padding: 7px;
            cursor: pointer;
        } 
        .lineWord{
            border-bottom: 1px solid #B9B9B9;
    
            &:hover{
                background-color: #dc6b6bc8;
            }
        }

}