@import "variables.scss";
@import "~bootstrap";
@import "style.scss";
@import "card.scss";
@import "btn.scss";
@import "navbar.scss";
@import "input.scss";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "home.scss";
@import "enWordPage.scss";

