.navbar{
    padding: 2px 10px !important;
    background-color: $primary-color !important;
    margin-bottom: 0px !important;
    .logo-nav{
        width: 70px;
    }
    .nav-link{
        color: white !important;
        font-size: 18px !important;;
    }
    .navbar-toggler{
        background-color: white !important;
    }
}